<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ve.drkorbin.tesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="Entrenate"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".MusculoIndivActivity" />
        <activity android:name=".MuscSeleccActivity" />
        <activity android:name=".GuiaActivity" />
        <activity android:name=".IngresoActivity" />
        <activity android:name=".RutinaPrincipianteActivity" />
        <activity android:name=".RutinaAvanzadaActivity" />
        <activity android:name=".ContactanosActivity" />
        <activity android:name=".AdminPrincipalActivity" />
        <activity android:name=".CargarGuiaActivity" />
        <activity android:name=".EliminarGuiaActivity" />
        <activity android:name=".EliminarUsuarioActivity" />
        <activity android:name=".GuideShow" />
        <activity android:name=".AdminBuzonActivity" />
        <activity android:name=".GenericListGuideActivity"></activity>
    </application>

</manifest>