<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ve.drkorbin.tesis" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogActivity" >
        </activity>
        <activity android:name=".RegistroActivity" >
        </activity>
        <activity android:name=".PrincipalActivity" >
        </activity>
        <activity android:name=".MusculoIndivActivity" >
        </activity>
        <activity android:name=".MuscSeleccActivity" >
        </activity>
        <activity android:name=".GuiaActivity" >
        </activity>
        <activity android:name=".IngresoActivity" >
        </activity>
    </application>

</manifest>
